<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.dao.DepartmentMapper">
<!--    <cache readOnly="true"/>-->

    <!-- cache-ref代表引用别的命名空间的Cache配置，与引用的命名空间的操作使用的是同一个Cache。 -->
    <cache-ref namespace="com.java.dao.EmployeeMapper"/>

    <!-- Department sgetDepartmentById(Long id); -->
    <select id="getDepartmentById" resultType="com.java.bean.Department">
        SELECT id, dep_name depName FROM t_department
        WHERE id = #{id}
    </select>
</mapper>