<?xml version="1.0" encoding="UTF-8"?>

<!-- mybatis全局配置文件 -->

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <!-- url value中的&需要使用unicode编码 -->
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/mybatis?useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=GMT%2B8&amp;useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="py123456"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!-- 使用相对于src类路径的资源引用 -->
        <mapper resource="conf/EmployeeMapper.xml"/>
    </mappers>
</configuration>