<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="dao" class="com.java.ref.bean.Dao">
        <!-- 设置属性值为null -->
        <property name="dataSource">
            <null/>
        </property>
    </bean>


    <bean id="dao2" class="com.java.ref.bean.Dao"></bean>
    <bean id="service" class="com.java.ref.bean.Service">
        <!-- 引用已经存在的实例作为属性值 -->
        <property name="dao" ref="dao2">
        </property>
    </bean>

    <bean id="service2" class="com.java.ref.bean.Service">
        <property name="dao">
            <!-- 内部bean实例对象，不能被外部的bean引用，也没必须设置id属性 -->
            <bean class="com.java.ref.bean.Dao">
                <property name="dataSource" value="c3p0"/>
            </bean>
        </property>
    </bean>

    <bean id="web" class="com.java.ref.bean.Web">
        <property name="service" ref="service2"/>
        <!-- 设置级联属性值 -->
        <property name="service.dao.dataSource" value="DBCP2"/>
    </bean>


    <bean id="car11" class="com.java.first.bean.Car">
        <constructor-arg value="200" index="2"/>
        <constructor-arg value="比亚迪" index="0"/>
        <constructor-arg value="中国深圳" index="1"/>
    </bean>
    <bean id="car12" class="com.java.first.bean.Car">
        <constructor-arg value="8" index="2" type="float"/>
        <constructor-arg value="比亚迪" index="0"/>
        <constructor-arg value="中国深圳" index="1"/>
    </bean>

    <!-- 设置集合属性 -->
    <bean id="user0" class="com.java.first.bean.User">
        <!-- 通过类中的setter方法设置属性值 -->
        <property name="name" value="赵敏"/>
        <property name="age" value="18"/>
        <property name="sex" value="0"/>
        <property name="cars">
            <!-- 使用list标签来设置集合属性值 -->
            <list>
                <ref bean="car11"/>
                <ref bean="car12"/>
            </list>
        </property>
    </bean>

    <!-- 声明集合类型的bean -->
    <util:list id="cars">
        <ref bean="car11"/>
        <ref bean="car12"/>
        <bean class="com.java.first.bean.Car">
            <constructor-arg value="16" index="2" type="float"/>
            <constructor-arg value="丰田" index="0"/>
            <constructor-arg value="日本" index="1"/>
        </bean>
    </util:list>
    <bean id="user00" class="com.java.first.bean.User">
        <!-- 通过类中的setter方法设置属性值 -->
        <property name="name" value="张三丰"/>
        <property name="age" value="66"/>
        <property name="sex" value="1"/>
        <!-- 引用外部的list实例对象 -->
        <property name="cars" ref="cars"/>
    </bean>

    <!-- 使用P命名空间 -->
    <bean id="user3" class="com.java.first.bean.User"
          p:name="白眉鹰王"
          p:age="80"
          p:sex="1"
          p:cars-ref="cars">
    </bean>

    <!-- 使用 parent属性 来完成实例之间的继续
        所有属性都会继承过来，如有指定其他的属性值，则会覆盖
    -->
    <bean id="user4"
          parent="user0"
          p:name="杨逍">
    </bean>

    <!-- depents-on属性 -->
    <bean id="user5" depends-on="user00"
          parent="user0" p:name="石破天">
    </bean>
</beans>