<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.dao.EmployeeMapper">
    <resultMap id="employee" type="com.java.bean.Employee">
        <id column="id" property="id"/>
        <result column="last_name" property="lastName"/>
        <result column="gender" property="gender"/>
        <result column="email" property="email"/>
        <association column="dep_id"
                     select="com.java.dao.DepartmentMapper.getDepartmentById"
                     property="department">
        </association>
    </resultMap>

    <!-- Employee getEmployeeById(Long id); -->
    <select id="getEmployeeById" resultMap="employee">
        SELECT id, last_name lastName, gender, email, status, dep_id FROM t_employee_z
        WHERE id = #{id}
    </select>
</mapper>