<?xml version="1.0" encoding="UTF-8"?>

<!-- mybatis全局配置文件
 Configuration XML
 -->

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 各模块配置的必须按下面的顺序写，不需要的可以不配置
     properties,
     settings?,
     typeAliases,
     typeHandlers,
     objectFactory,
     objectWrapperFactory,
     reflectorFactory,
     plugins,
     environments,
     databaseIdProvider,
     mappers
     -->

    <properties resource="conf/db.properties"/>

    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <!-- 使用真实参数名 -->
        <setting name="useActualParamName" value="false"/>
        <!-- 指定jdbcTypeForNull的默认值 -->
        <setting name="jdbcTypeForNull" value="NULL"/>
        <!-- 开启懒加载，即按需加载，根据需要，有些分步查询是否可以不执行 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 侵入性懒加载。显式设置值，即使他是默认的。防止版本更新带来的问题。设置为false，才能配合完成上面的按需加载 -->
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>

    <environments default="dev_mysql">
        <environment id="dev_mysql">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${mysql.driver}"/>
                <property name="url" value="${mysql.url}"/>
                <property name="username" value="${mysql.user}"/>
                <property name="password" value="${mysql.password}"/>
            </dataSource>
        </environment>
        <environment id="dev_oracle">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${oracle.driver}"/>
                <property name="url" value="${oracle.url}"/>
                <property name="username" value="${oracle.user}"/>
                <property name="password" value="${oracle.password}"/>
            </dataSource>
        </environment>
    </environments>

    <databaseIdProvider type="DB_VENDOR">
        <!-- 为不同的数据库厂商起别名 -->
        <property name="MySQL" value="mysql"/>
        <property name="Oracle" value="oracle"/>
        <property name="SQL Server" value="sqlserver"/>
        <property name="DB2" value="db2"/>
    </databaseIdProvider>

    <mappers>
        <package name="com.java.dao"/>
    </mappers>

</configuration>