<?xml version="1.0" encoding="UTF-8"?>

<!-- sql映射文件
 Mapper XML Files
 -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
namespace（命名空间）: 使用对应的dao接口的全称接口名
id: 使用接口中的方法名
resultType: 返回的类型，要去写全称类名(FQCN: Fully Qualified Class Name)

这样 sql语句就 与 dao接口EmployeeMapper中 Employee getEmployeeById(Long id) 绑定
databaseId: 数据库厂商别名

句尾的;可以写，也可省略不写
-->
<mapper namespace="com.java.dao.EmployeeMapper">
    <select id="getEmployeeById" resultType="com.java.bean.Employee">
        SELECT id, last_name AS lastName, gender, email FROM t_employee WHERE id = #{id};
    </select>

    <!-- void addEmployee(Employee employee); -->
    <insert id="addEmployee" parameterType="com.java.bean.Employee" databaseId="mysql">
        INSERT INTO t_employee(last_name, gender, email) VALUES
        (#{lastName}, #{gender}, #{email})
    </insert>

    <!-- void updateEmployee(Employee employee); -->
    <update id="updateEmployee">
        UPDATE t_employee SET last_name = #{lastName}, gender = #{gender}, email = #{email} WHERE id = #{id}
    </update>
    
    <!-- void deleteEmployeeById(Long id); -->
    <delete id="deleteEmployeeById">
        DELETE FROM t_employee WHERE id = #{id}
    </delete>
</mapper>